@page "/userList"

@using System.Net.Http
@using System.Net.Http.Json
@using LinqKit
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject HttpClient Http

<PageTitle>User List</PageTitle>

<h1>User List</h1>
<div class="w-100" style="display: flex; justify-content: center;">
    <div class="w-75">
        <CascadingValue Value="Users">
            <TableHeader @ref="TableHeader" />
            <TableContent />
        </CascadingValue>
    </div>
</div>

@code {
    TableHeader TableHeader;

    private List<UserPreview> Users = new List<UserPreview>();
    private List<UserPreview> MasterList = new List<UserPreview>();

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        client.DefaultRequestHeaders.Add("app-id", "618bf0a5ce109fcdd5ef1e64");
        var result = await client.GetAsync("https://dummyapi.io/data/v1/user");
        var content = await result.Content.ReadAsStringAsync();

        if (content != null)
        {
            JObject json = (JObject)JsonConvert.DeserializeObject(content);
            var data = json["data"].ToString();
            Users = JsonConvert.DeserializeObject<List<UserPreview>>(data);
            MasterList = JsonConvert.DeserializeObject<List<UserPreview>>(data);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        TableHeader.UpdateFilters += ChildUpdatedFilters;
    }

    private void ChildUpdatedFilters(ExpressionStarter<UserPreview> filters)
    {
        Users = MasterList.Where(filters).ToList();
        StateHasChanged();
    }

}
