@page "/weather"
@using BlazorApp1.Resources
<PageTitle>Weather Reporter</PageTitle>

<EditForm Model="@weatherForm" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table class="w-100">
        <tr class="w-100">
            <label for="firstName" class="w-25 mt-1">First Name</label>
            <InputText id="firstName" @bind-Value="weatherForm.FirstName" />
        </tr>
        <tr>
            <label for="lastName" class="w-25 mt-1">Last Name</label>
            <InputText id="lastName" @bind-Value="weatherForm.LastName" />
        </tr>
        <tr>
            <label for="zipCode" class="w-25 mt-1">Zip Code</label>
            <InputNumber id="zipCode" @bind-Value="weatherForm.ZipCode" />
        </tr>
        <tr>
            <label for="date" class="w-25 mt-1">Date</label>
            <InputDate id="date" @bind-Value="weatherForm.Date" />
        </tr>
        <tr>
            <button class="btn-success rounded-3 w-50 mt-2" type="submit">Submit</button>
        </tr>
    </table>
</EditForm>

@code {
    private WeatherForm weatherForm = new WeatherForm() { Date = DateTime.Now };

    private void HandleValidSubmit()
    {

    }
}
